<div class="usar-details">

    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-6">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Nome: </span>
            <span class="mat-subtitle-1">{{ user.nome }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Email: </span>
            <span class="mat-subtitle-1">{{ user.email }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Telefone: </span>
            <span class="mat-subtitle-1">{{ user.telefone | phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Endereço: </span>
            <span class="mat-subtitle-1">{{ user.endereco | address }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Ativo: </span>
            <span class="mat-subtitle-1">{{ user.ativo }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Função: </span>
            <span class="mat-subtitle-1">{{ user.funcao }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Data de Cadastro: </span>
            <span class="mat-subtitle-1">{{ user.dataCadastro }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>

</div>