<div class="usar-details">

    <mat-list>
        <mat-list-item class="u-text-align-center">
            <span class="mat-headline-6">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Nome: </span>
            <span class="mat-subtitle-1">Nomes de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Email: </span>
            <span class="mat-subtitle-1">Email de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Telefone: </span>
            <span class="mat-subtitle-1">Telefone de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Endereço: </span>
            <span class="mat-subtitle-1">Endereço de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Ativo: </span>
            <span class="mat-subtitle-1">Ativo de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Função: </span>
            <span class="mat-subtitle-1">Função de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <span class="mat-headline-6">Data de Cadastro: </span>
            <span class="mat-subtitle-1">Data de Cadastro de Teste</span>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>

</div>